services:
  clamav-api:
    build:
      context: .
    ports:
      - 8080:8080
    environment:
      - LOGGER_LOG_LEVEL=debug
      - LOGGER_FORMAT=console
      - CLAMAV_ADDR=clamav:3310
    # depends_on:
    #  - clamav
  clamav:
    image: clamav/clamav:stable
    expose:
      - 3310
