apiVersion: apps/v1
kind: Deployment
metadata:
  name: clamav-api
  labels:
    app: clamav-api
spec:
  selector:
    matchLabels:
      app: clamav-api
  template:
    metadata:
      labels:
        app: clamav-api
    spec:
      containers:
      - name: clamav-api
        image: clamav-api
        env:
          - name: APP_ADDR
            value: ":8080"
          - name: LOGGER_LOG_LEVEL
            value: "debug"
        ports:
        - name: http
          containerPort: 8080
        resources:
          requests:
            memory: "8Mi"
            cpu: "10m"
          limits:
            memory: "16Mi"
            cpu: "100m"
        readinessProbe:
          httpGet:
            path: /rest/v1/ping
            port: 8080
          timeoutSeconds: 3
          successThreshold: 1
          periodSeconds: 10
          failureThreshold: 2
        livenessProbe:
          httpGet:
            path: /rest/v1/ping
            port: 8080
          timeoutSeconds: 3
          periodSeconds: 30 
          successThreshold: 1 
          failureThreshold: 10
      - name: clamav
        image: clamav/clamav:stable_base
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3310
          name: clamd
          protocol: TCP
        livenessProbe:
          failureThreshold: 8
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            port: clamd
          timeoutSeconds: 2
        readinessProbe:
          failureThreshold: 3
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            port: clamd
          timeoutSeconds: 2
        startupProbe:
          failureThreshold: 20
          periodSeconds: 15
          successThreshold: 1
          tcpSocket:
            port: clamd
          timeoutSeconds: 3
        resources:
          limits:
            memory: 2Gi
          requests:
            cpu: 100m
            memory: 512Mi
        volumeMounts:
        - mountPath: /etc/clamav/freshclam.conf
          name: freshclam
          subPath: freshclam.conf
        - mountPath: /etc/clamav/clamd.conf
          name: clamd
          subPath: clamd.conf
      serviceAccountName: clamav-api
      volumes:
      - configMap:
          defaultMode: 420
          name: clamav
        name: freshclam
      - configMap:
          defaultMode: 420
          name: clamav
        name: clamd