name: Deploy Kubernetes manifests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  k8s:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
            go-version: "1.21"
            cache: true
      
      - name: Setup Kubernetes and deploy container
        uses: ./.github/actions/k8s
